body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #8B864E;
  text-decoration: none;  
}

a:hover {
  color: #fff; 
  text-shadow: 1px 1px #8B864E ;
  transition: 0.3s;
}

#container {
  width: 350px;
  height: 425px;
  margin: auto;
  overflow: auto;
  border: 1px solid #8B864E;
  border-radius: 5px;
  margin-top: 40px;
  padding: 30px 0 30px 60px ;
  background: #FEF1B5;
}

.title {
  text-align: center;
  background: #FEF0DB; 
  padding-bottom: 30px; 
  border-radius: 5px;
  border:1px #8B864E solid; 
  color: #fff; 
  text-shadow: 1px 1px #8B864E;
  width: 250px;
  height: 40px;
  margin: 20px;
  float: left;
}

#pup {
  width: 85%;
}
